{% extends "base.html" %}

{% block base_body %}

<div class="container main-content">
  <h2> About </h2>
  <h3> The App </h3>
  <div>
    This is my submission for the
    <a href="https://bitcointalk.org/index.php?topic=1097394.0">July
    Hackathon</a> run by <a href="https://coinsecure.in">Coinsecure</a>, an
    Indian Bitcoin exchange. The app uses
    <a href="https://api.coinsecureis.cool/">Coinsecure's API</a> to build
    useful reports for traders using the Coinsecure portal. The
    code powering this application is open sourced under the Affero GPL,
    and <a href="https://github.com/skarra/coinsecure-cg">available on
    Github.</a>
  </div>

  <h3> The Author </h3>
  <div>
    My name is <span class="emph">Sriram Karra</span>; you can find more
    about me on <a href="https://github.com/skarra">Github</a>,
    <a href="https://plus.google.com/114708180777829794970/about">
      Google+</a>, <a href="http://in.linkedin.com/in/sriramkarra">
      LinkedIn</a>, and <a href="http://twitter.com/skarra">
      Twitter </a>. In short, I have a day job as a Product Manager at
    <a href="//www.hackerrank.com">an exciting startup</a>. I program for fun
    in my spare time and recently started dabbling with Bitcoin. You can find
    me as
    user <a href="https://bitcointalk.org/index.php?action=profile;u=534145;sa=summary">gowron</a>
    on <a href="https://bitcointalk.org">Bitcointalk</a>
  </div>

  <h2> Features </h2>
  <div>
    Three main features are available, and can be accessed through the top
    navigation bar.
    <ol>
      <li><a href="/trades">Transactions</a>: View your transaction history in a
      neat summary</li>

      <li><a href="/cgActual">Capital Gains - Actual</a>: Find out your
      Capital Gains for
      sell transactions in any given date range. This can be useful for
      computing your tax liability, for e.g.</li>

      <li><a href="/cgProj">Capital Gains - Projection</a>: This is useful to
      identify your gain and resulting tax liability if you plan to sell part
      of your holding right now or in the future.</li>
    </ol>

  </div>

  <h2>What you need</h2>
  <div>    
    All features access the Coinsecure testnet instance, you will need an
    account and an API Key on the testnet
    instance. <a href="https://coinsecureis.cool">Head over there</a> if you'd
    like to create a test account and fetch an API Key. At a later time this
    app may be ported over to use production data from Coinsecure.
  </div>

  <h2>Frequently Asked Questions</h2>
  <ol>
    <li>
      <div class="question">
	I got the right API Key from Coinsecure, but it does not work. Why is
	that?
      </div>

      <div class="answer">
	All features access the Coinsecure testnet instance, you will need an
	account and an API Key on the testnet
	instance. <a href="https://coinsecureis.cool">Head over there</a> if
	you'd like to create a test account and fetch an API Key. At a later
	time this app may be ported over to use production data from
	Coinsecure.
      </div>
    </li>

  </div>

</div>
{% endblock %}
