{% extends "base.html" %}

{% block base_body %}

<div class="container">
  <form id="compute">
    <div class="col-xs-4">
      <input type="text" placeholder="Coinsecure API Key" 
	     class="form-control"
	     id="apikey" name="apikey" />
    </div>

    <div class="col-xs-2">
      <input type="text" placeholder="Date From" class="form-control"
	     id="from" name="from" />
    </div>

    <div class="col-xs-2">
      <input type="text" placeholder="Date to" class="form-control"
	     id="to" name="to" />
    </div>

    <div class="col-xs-2">
      <button id="compute" type="submit" class="btn btn-cs-prim">
	Compute
      </button>
    </div>
    </form>
</div>

{% endblock %}
